<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xiongqi.npm-search</string>
	<key>connections</key>
	<dict>
		<key>ADCCF693-3BBF-498A-9D31-BA052DB7EB31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D17F0EEF-3270-4778-B3C6-80B362A084BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>99776F3F-1B36-49D5-AEB6-031753142F57</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E25D99CD-A790-45D2-A26A-969B84D25A87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE8620B4-E4C9-4CD1-A382-96CDA9EB799B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xiongqi</string>
	<key>description</key>
	<string>Search NPM</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Npm Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D17F0EEF-3270-4778-B3C6-80B362A084BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>npm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching......</string>
				<key>script</key>
				<string># please use your local node path. eg: ~/.node/bin/node
~/.node/bin/node npm-search.js $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search NPM ...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ADCCF693-3BBF-498A-9D31-BA052DB7EB31</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>99776F3F-1B36-49D5-AEB6-031753142F57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching......</string>
				<key>script</key>
				<string># please use your local node path. eg: ~/.node/bin/node
~/.node/bin/node github-search.js $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Github ...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E25D99CD-A790-45D2-A26A-969B84D25A87</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EE8620B4-E4C9-4CD1-A382-96CDA9EB799B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>99776F3F-1B36-49D5-AEB6-031753142F57</key>
		<dict>
			<key>note</key>
			<string>search NPM for selected name</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>ADCCF693-3BBF-498A-9D31-BA052DB7EB31</key>
		<dict>
			<key>note</key>
			<string>please use your local node path</string>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D17F0EEF-3270-4778-B3C6-80B362A084BE</key>
		<dict>
			<key>note</key>
			<string>open NPM page of selected item</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>E25D99CD-A790-45D2-A26A-969B84D25A87</key>
		<dict>
			<key>note</key>
			<string>please use your local node path</string>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>EE8620B4-E4C9-4CD1-A382-96CDA9EB799B</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
